body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1420px !important;
    @apply px-4;
}

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        // --primary: 144 45% 40%;
        --primary: #6cbc74;
        /* Green as primary */
        --primary-foreground: 0 0% 98%;
        --secondary: 144 30% 90%;
        /* Light green secondary */
        --secondary-foreground: 144 45% 40%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 200 80% 55%;
        /* Vibrant teal for accents */
        --accent-foreground: 0 0% 98%;
        --destructive: 0 70% 50%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 144 45% 40%;
        /* Matches primary */
        --radius: 0.5rem;
    }

    .dark {
        --background: 0 0% 9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 6%;
        --card-foreground: 0 0% 3.9%;

        --popover: 0 0% 6%;
        --popover-foreground: 0 0% 98%;
        // --primary: 144 45% 55%;
        --primary: #6cbc74;
        --primary-foreground: 0 0% 10%;
        --secondary: 144 30% 20%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 200 80% 60%;
        --accent-foreground: 0 0% 10%;
        --destructive: 0 60% 40%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 144 45% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}


// Scrollbar
/* width */
::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}