:root {
    --base-size: 1rem;
    /* Default base font size (16px) */
    --scale: 1.25;
    /* Default font  scale multiplier */
}

@media (max-width: 768px) {
    :root {
        --base-size: 0.875rem;
        /* Reduce base font size for smaller screens */
        --scale: 1.2;
        /* Slightly reduce the scaling factor */
    }
}

@media (min-width: 1200px) {
    :root {
        --base-size: 1.125rem;
        /* Increase base font size for larger screens */
        --scale: 1.3;
        /* Increase the scaling factor */
    }
}